@use "base";

@import "./variables";

body {
  padding-top: 60px;

  h1 {
    color: $primary;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }

  p {
    @include paragraphStyles($blue);
  }
}
