@use "base";

@import "./variables";

body {
  padding-top: 60px;

  h1 {
    color: $primary;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }

  @include getSassText($blue);
  @include getSassText($red, "-primary");

  span {
    @extend .sassText;
    font-size: 2.5rem;
  }
}
