// Colors
$blackColor: rgb(24, 24, 24);
$whiteColor: rgb(231, 231, 231);
$redColor: rgb(173, 0, 0);

// FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;

@mixin buttonStyle($color, $fontSize) {
  width: 200px;
  height: 40px;
  background-color: $color;
  border: none;
  border-radius: 8px;
  color: $whiteColor;
  font-size: $fontSize;
}
